@if $grid == true {
  .row {
    margin-left: -$site-padding;
    margin-right: -$site-padding;
  }

  [class*='col-'] {
    float: left;
    min-height: 1px;
    padding-left: $site-padding;
    padding-right: $site-padding;
    position: relative;
  }

  @if $responsive == true {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $grid-breakpoint-counter: ($grid-breakpoint-counter + 1);
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          width: 100% / $grid-columns * $i;
        }
      }
      @each $modifier in (pull, push, offset) {
        @for $i from 1 through $grid-columns {
          .#{$modifier}-#{$breakpoint}-#{$i} {
            @include make-col-modifier($modifier, $i, $grid-columns);
          }
        }
      }
    }
  } @else if $responsive == false {
    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: 100% / $grid-columns * $i;
      }
    }
    @each $modifier in (pull, push, offset) {
      @for $i from 1 through $grid-columns {
        .#{$modifier}-#{$i} {
          @include make-col-modifier($modifier, $i, $grid-columns);
        }
      }
    }
  }
}
