extends layouts/index

block variables
  - var pageTitle = "Page Title"
  //- SEO Stuff...

block pageContent
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sed incidunt fugit veniam? Sapiente, nesciunt veniam at quae! Deserunt, nisi recusandae doloribus deleniti quos atque dolore minima maiores laboriosam obcaecati.
  p Eligendi minima quidem nihil, hic laudantium voluptate placeat totam quis architecto perferendis harum aliquam libero deleniti repudiandae fuga expedita doloremque similique rerum obcaecati ea enim qui ducimus, repellat non animi.
  p Dolor deleniti quos laboriosam natus facilis nisi accusamus alias, sapiente, necessitatibus voluptatibus tempore sint quis. Aspernatur neque dicta quibusdam, maiores deleniti quia error assumenda eos, repellendus, vero ipsum aliquid voluptates.
  p Officia tempora recusandae quam obcaecati cumque quidem illo perferendis libero earum doloremque dolores corrupti neque deserunt provident impedit dicta, doloribus, placeat rem minus omnis aperiam, quo ipsum. Dolore, praesentium vel.
  p Quasi, excepturi voluptatibus pariatur commodi. Harum dolores, aliquam voluptatum voluptas, non repudiandae eveniet nobis iste distinctio minima sapiente architecto suscipit. Molestiae reiciendis pariatur beatae illum labore nihil optio repellat laudantium.
