/* Setup the base page paddings, margins, etc. */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
}

body {
  font-family: $font-face;
}

main {

}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $site-padding*2;
  padding-right: $site-padding*2;

  @extend %clearfix;

  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 990px) {
    width: 900px;
  }
}
